html {
    background-image: linear-gradient(to bottom, white 0%, rgb(230, 64, 180) 100%);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1000px;
    background-color: white;
    margin: 15px auto;
    padding: 15% 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background: url(/images/Screenshot_24-2-2026_162224_i.pinimg.com.jpeg) right repeat-y; 
    background-attachment: fixed;
}
a:hover, a:focus {
    font-style: italic;
    color: rgb(230, 64, 180);
}
header{
    margin-bottom: 3em;
}
header h1 {
    font-size: 175%;
    color: rgb(230, 64, 180);
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color: rgb(230, 64, 180);
    text-indent: 30px;
}
header img {
    float: left;
    margin-left: 2em;
}
.shadow {
    text-shadow: 2px 2px 2px rgb(0, 0, 0)
}
main {
    clear: left;
} 
main h3 {
    margin: 3em 2em 1.5em 2em;
    border: 5px dashed rgb(230, 64, 180);
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px black;
    padding: 1em;
}
main nav {
    margin: 1.5em 2em 1.5em 2em;
    border: 5px dashed rgb(230, 64, 180);
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px black;
    padding: 0.5em;
}
main div.contact {
    margin: 1.5em 2em 0em 2em;
    border: 5px dotted rgb(230, 64, 180);
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px black;
    padding: 1em;
}
footer.copyright{
    text-align: center;
    font-size: 80%
}

